@import "tailwindcss";

@theme {
  --color-text-dim: oklch(59.32% 0.028 184.15);
  --color-surface-alt: oklch(64.03% 0.072 133.28);
  --color-surface-main: oklch(20.77% 0.0398 265.75);
  --color-brand-primary: oklch(40.58% 0.036 137.53);
  --color-text-bright: oklch(92.49% 0.000 0);

  --breakpoint-xs: 30rem;
}

.btn-glow:not(:disabled) {
  @apply shadow-xl enabled:hover:brightness-90 hover:shadow-[0_0_20px_rgba(255,255,255,0.3)] scale-[0.97] transition-all duration-100
}

.custom-scrollbar {
  @apply overflow-y-auto [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:bg-transparent [&::-webkit-scrollbar-thumb]:bg-surface-alt [&::-webkit-scrollbar-thumb]:rounded-full hover:[&::-webkit-scrollbar-thumb]:bg-surface-alt/80
}

body {
  background-color: var(--color-surface-main);
}
