@import "tailwindcss";

@theme {
  --color-blue-1000: oklch(62.7% 0.194 149.214);
  --color-main-background-1000: oklch(62.7% 0.194 149.214);
  --color-purple-1000: #a853ba;
  --color-red-1000: #e92a67;
}
