@import "tailwindcss";

@theme {
  --color-gray-1000: oklch(59.32% 0.028 184.15);
  --color-med-green-1000: oklch(64.03% 0.072 133.28);
  --color-light-green-1000: oklch(81.57% 0.035 133.00);
  --color-dark-green-1000: oklch(40.58% 0.036 137.53);
  --color-white-1000: oklch(92.49% 0.000 0);
  --color-purple-1000: #a853ba;
  --color-red-1000: #e92a67;
}
