@import "tailwindcss";

@theme {
  --color-text-dim: oklch(59.32% 0.028 184.15);
  --color-surface-alt: oklch(64.03% 0.072 133.28);
  --color-surface-main: oklch(81.57% 0.035 133.00);
  --color-brand-primary: oklch(40.58% 0.036 137.53);
  --color-text-bright: oklch(92.49% 0.000 0);
  --color-purple-1000: #a853ba;
  --color-red-1000: #e92a67;

  --breakpoint-xs: 30rem;
}
